*{

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.main{

    background-image: url('../images/bgMobile.jpg');
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main img{

    
        animation: spin 2s infinite linear;
      }
      
      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      
      
}

