.container {

    position: relative;
    background: #001220;
    /* background: #FFF; */
    border-radius: 5px;
    height: 70vh;
    width: 65%;
    margin: auto;
    margin-top: 10%;
    
}


.game-activities .game-nav{

    width: 50%;
    height: 80px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

.game-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game-nav a{
    color: #FFFDD0;
    text-decoration: none;
}

.game-nav .links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-team{
    display: flex;
    justify-content: center;
    height: 300px;
}
.create-team form{
display: flex;
flex-direction: column;
width: 50%;
height: 220px;
margin: auto;
align-items: center;
border: 1px solid #FFFDD0;
padding: 5px;
border-radius: 1em;
}

.create-team label{
    font-size: large;
    color: #FFFDD0;
    margin-top: 3%;
    margin-bottom: 2%;

}

.create-team form input[type="text"]{

    height: 50px;
    width: 40%;
    background: #FFFDD0;
    margin-bottom: 4%;
    border-radius: 5px;
}

.create-team form input[type="submit"]{
    height: 50px;
    width: 35%;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
}

#result{

    color: #FFFDD0;
}

.tables{
    display: flex;
    justify-content: space-evenly;
}
.game-tables{
    width: 40%;
    margin-top: 2%;
    border: 2px solid #FFFDD0;
    color: #FFFDD0;
    align-items: center;
}
.game-tables thead{

    background: green;
    height: 30px;
}

.play-game{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFDD0;
    margin-top: 2%;
   
}

.play-game h3{

    margin-bottom: 1%;
}

.play-game form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 50%;
}

.play-game form input[type="text"]{

    height: 60px;
    width: 40%;
    background: #FFFDD0;
    margin-bottom: 4%;
    border-radius: 5px;
}

.play-game form input[type="submit"]{
    height: 60px;
    width: 35%;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
}

/* Resposive Styling */

@media only screen and (max-width: 768px)  {

    .container {

        width: 95%;
        margin-top: 20%;
        height: 60vh;
    }

    .game-activities .game-nav{

        width: 95%;
    }

    .create-team form{

        width: 90%;
    }

    .create-team form input[type="text"]{

        width: 70%;
        margin-bottom: 10%;
        margin-top: 7%;
    }

    .create-team form input[type="submit"]{

        width: 60%;
    }

    .tables{
        display: flex;
        flex-direction: column;
    }

    .game-tables{

        width: 80%;
        margin: auto;
        margin-top: 4%;
    }

    .play-game form{

        display: inline-block;
        width: 95%;
        margin: auto;
        height: auto;
       
    }

    .play-game form input[type="text"]{

        height: 40px;
        width: 30%;
        margin-left: 4px;
    }

    .play-game form input[type="submit"]{
        margin-left: 33%;
    }
}
